body {
    background-image: url('images/smoky-mountains-view-blue-ridge.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav {
    position: relative;
    background-color: none;
    overflow: hidden;
    text-align: center;
}
.top-nav a {
    float: none;
    color: rgb(209, 77, 29);
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}
.top-nav a:hover {
    color: beige;
}
.top-nav a:active {
    color: beige;
}

.about {
    
       
}
.resume {
   
    
}
.projects {
    
    
} 
h2 {
    color:#165a0c;
    text-align: center;
    margin-top: 75px;
    position: relative;
}