body {
    font-family: 'Times New Roman', sans-serif;
    background-image: url('images/wyoming.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav {
    position: relative;
    background-color: none;
    overflow: hidden;
    text-align: center;
}
.top-nav a {
    float: none;
    color: rgb(209, 77, 29);
    display: inline-block;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
    white-space: nowrap;
}
.top-nav a:hover {
    color: gray;
}
.top-nav a:active {
    color: beige;
}
h2 {
    color: rgb(74, 74, 74);
    text-shadow: 1px 1px 1px beige;
    text-align: center;
    margin-top: 60px;
    position: relative;
}
h3 {
    color: rgb(30, 124, 201);
    text-align: center;
    text-shadow: .5px .5px .5px beige;
    margin-top: -33px;
    position: relative;
}
.watermark {
    position: fixed; bottom: 0; right: 0;
    text-shadow: .3px .3px .3px beige;
    font-size: 10px;
}