html {
    scroll-behavior: smooth;
}
body {
    font-family: monospace, sans-serif;
    background-image: url('images/yellowstone.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: none;
    overflow: hidden;
    text-align: center;
}
.top-nav a {
    float: none;
    color: rgb(30, 30, 108);
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
    white-space: nowrap;
}
.top-nav a:hover {
    color: gray;
}
.top-nav a:active {
    color: beige;
}
h2 {
    color: rgb(181, 223, 224);
    text-shadow: gray;
    text-align: center;
    margin-top: 100px;
    position: relative;
}
h3 {
    color: goldenrod;
    text-align: center;
    
    margin-top: -33px;
    position: relative;
}
.watermark {
    position: fixed; bottom: 0; right: 0;
    text-shadow: .5px .5px .5px beige;
    font-size: 10px;
}