<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
</head>
<body style="background-color: #dfdbcc">
    <header>
        <div style="font-size:2vw">
            <nav>
                <a class="active" href="../index.html" target="_self">HOME</a>
                <a class="about" href="about.html" target="_self">ABOUT</a>    
                <a class="resume" href="resume.html" target="_self">RESUME</a>        
                <a class="projects" href="projects.html" target="_self">PROJECTS</a>
            </nav>
        </div>
    </header>
    <section class="aboutMe" style="font-size:2vw">
        <h3>Hello!</h3>
            <p>I have a passion for great design and creating solutions for others. My past work experiences piqued my interest in software technologies, which is why I applied my problem-solving and soft skills to a new career path. I have a keen eye for detail and am pragmatic in how I approach problems, whether it is to create a more efficient business process or to improve application usability. My current interests are full stack development, enterprise applications, and data science.
            </p>
            
    </section>
    
    
</body>
</html>