<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/portfolio.css">
</head>
    <body>
        <div class="container" style="display: flex; height: 100px;">
            <div class="buttons" style="text-align: center;">
                <a href="about.html" target="_blank">    
                    <button type="button" class="about">About</button>    
                </a>
                <a href="resume.html" target="_blank">    
                    <button type="button" class="resume">Resume</button>>    
                </a>            
                <a href="projects.html" target="_blank">    
                    <button type="button" class="projects">Projects</button>    
                </a>
            </div>
        </div>
        
        <h2>Welcome to Molina's Portfolio!</h2>
        
    </body>
</html>