<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/projects.css">
</head>
    <body>
        <div class="top-nav" style="font-size:2vw">
            <a class="active" href="../index.html" target="_self">HOME</a>
            <a class="about" href="about.html" target="_self">ABOUT</a>    
            <a class="resume" href="resume.html" target="_self">RESUME</a>        
            <a class="projects" href="projects.html" target="_self">PROJECTS</a>
        </div>
        <div>
            <h2>Projects</h2>
        </div>
    </body>
</html>