<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/projects.css">
</head>
<body style="background-color: #dfd6b9">
    <header>
        <div class="top-nav" style="font-size:2vw">
            <nav>
                <a class="active" href="../index.html" target="_self">HOME</a>
                <a class="about" href="about.html" target="_self">ABOUT</a>    
                <a class="resume" href="resume.html" target="_self">RESUME</a>        
                <a class="projects" href="projects.html" target="_self">PROJECTS</a>
            </nav>
        </div>
    </header>
    <section style="font-size:2vw">
        <div class="wrap1">
            <a href="https://github.com/owlsrwise/COSC-4353-17390-Group-9" class="tile tile-medium" target="_blank">
              <!-- Tile Content Goes Here -->
              <span>Group<br>Project</span>
            </a>
          
            <a href="#" class="tile tile-medium">
              <!-- Tile Content Goes Here -->
              <span>tbd</span>
            </a>
          
            <a href="#" class="tile tile-medium">
              <!-- Tile Content Goes Here -->
              <span>tbd</span>
            </a>
        </div>
        <div class="wrap2">
            <a href="#" class="tile tile-medium">
              <!-- Tile Content Goes Here -->
              <span>tbd</span>
            </a>
          
            <a href="#" class="tile tile-medium">
              <!-- Tile Content Goes Here -->
              <span>tbd</span>
            </a>
          
            <a href="#" class="tile tile-medium">
              <!-- Tile Content Goes Here -->
              <span>tbd</span>
            </a>
            <script>
                const tiles = document.querySelectorAll('.tile');
                tiles.forEach((tile) => {
                    tile.addEventListener('click', () => {
                        tiles.forEach((tile) => {
                            tile.classList.remove("active");
                        });
                        tile.classList.add("active");
                    })
                });
            </script>
        </div>
    </section>
</body>
</html>