<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/resume.css">
</head>
    <body>
        <div class="top-nav" style="font-size:3vw">
            <a class="active" href="../index.html" target="_self">HOME</a>
            <a class="about" href="about.html" target="_self">ABOUT</a>    
            <a class="resume" href="resume.html" target="_self">RESUME</a>        
            <a class="projects" href="projects.html" target="_self">PROJECTS</a>
        </div>    
        <div>   
            <h2>Resume</h2>
        </div>
        <div style="font-size:2vw">
            <h3>Education</h3>
                <p>
                    <ul>
                        <li>University of Houston | Bachelor of Science, Computer Science			May 2022</li>
                        <p>GPA: 3.49 (cumulative); 3.64 (major)</p>
                        <p>Relevant Coursework:</p> 
                            <p>Programming (Java), Data Structures (C++), Architecture, Discrete Math, Statistics (R), Operating Systems, Data Science (Python), Algorithms, Databases, Networking, Automata, Software Design, Cybersecurity, Software Engineering</p>
                        
                        <li>University of Houston | Bachelor of Science, Psychology    			May 1994</li>
                    </ul>
                </p>
            <h3>Experience</h3>
                <p>Test Engineer Intern | Skylark Wireless, LLC | Houston, TX    		         	May 2019 – October 2019
                    <ul>
                        <li>Tested software-defined radios utilizing Python in a Linux environment</li>
                        <li>Assembled and tested radio systems for timely field deployment</li>
                        <li>Performed troubleshooting, replaced components, and retested to develop a quality product</li>
                        <li>Improved productivity by refining system assembly and test workflows</li>
                    </ul>
                </p>
        </div>
        
    </body>
</html>