<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/resume.css">
</head>
<body style="background-color: #e2dac3">
    <header>
        <div style="font-size:2vw">
            <nav>
                <a class="active" href="../index.html" target="_self">HOME</a>
                <a class="about" href="about.html" target="_self">ABOUT</a>    
                <a class="resume" href="resume.html" target="_self">RESUME</a>        
                <a class="projects" href="projects.html" target="_self">PROJECTS</a>
            </nav>
        </div>
    </header>    
    <section class="education" style="font-size:2vw">
        <h3>Education</h3>
            <p>University of Houston | Bachelor of Science, Computer Science		<br>	May 2022
                <ul>
                    <li>GPA: 3.49 (cumulative); 3.64 (major)</li>
                    <li>Relevant Coursework: Programming (Java), Data Structures (C++), Architecture, Discrete Math, Statistics (R), Operating Systems, Data Science (Python), Algorithms, Databases, Networking, Automata, Software Design, Cybersecurity, Software Engineering</li>
                </ul>
            </p>
            <p>University of Houston | Master of Education, Counseling    		<br>	May 1998</p>
            <p>University of Houston | Bachelor of Science, Psychology    		<br>	May 1994</p>
    </section>
    <section class="experience" style="font-size:2vw">
        <h3>Experience</h3>
            <p>Test Engineer Intern | Skylark Wireless, LLC | Houston, TX    		    <br>     	May 2019 – October 2019
                <ul>
                    <li>Tested software-defined radios utilizing Python in a Linux environment</li>
                    <li>Assembled and tested radio systems for timely field deployment</li>
                    <li>Performed troubleshooting, replaced components, and retested to develop a quality product</li>
                    <li>Improved productivity by refining system assembly and test workflows</li>
                </ul>
            </p>
            <p>Manager | Anthem, Inc. | Houston, TX    		         <br>	December 2013 – February 2019
                <ul>
                    <li>Created Excel vlookups and database pivot tables to visualize patient utilization data</li>
                    <li>Refined process workflows and utilized Tableau reports to improve staff performance metrics</li>
                    <li>Identified opportunities to reduce patient recidivism by reviewing daily clinical reports</li>
                    <li>Ensured cost effective service delivery and exceeded KPI targets</li>
                    <li>Interviewed, hired, trained, and evaluated onsite and remote clinical staff</li>
                </ul>
            </p>
            <p>Behavioral Health Professional | Various Employers | Austin, TX 	   <br>  	July 2001 – December 2013
                <ul>
                    <li>Designed and project managed a company-wide SharePoint intranet web application</li>
                    <li>Developed an Access database to track case management outreach efforts and outcomes</li>
                    <li>Provided strengths-based counseling, assessments, and resources for a diverse client population</li>
                    <li>Supervised counselor interns and staff in community, healthcare, and university settings</li>
                    <li>Audited clinical services and file records to drive appropriate delivery of behavioral health care</li>
                </ul>
            </p>
            <p>Software Tester | IBM | Austin, TX 				<br>		May 1999 – May 2001
                <ul>
                    <li>Tested JDK releases on the latest AIX builds, using various client and server configurations</li>
                    <li>Mentored new contractors on testing processes, analysis, and multi-tasking skills</li>
                    <li>Assisted with the onboarding of new IBM employees</li>
                </ul>
            </p>     
    </section>
    <section class="skills" style="font-size:2vw">
        <h3>Skills</h3>
            <p>Java, C/C++, JavaScript, HTML, CSS, Python, NumPy, Pandas, MySQL, R, Linux, GitHub, User Interface Design, Testing, Framework (Flask), Database (SQLite)
            </p>
    </section>
</body>
</html>